
Daily Nexus.xcodeproj/project.xcworkspace/xcuserdata/Aaron.xcuserdatad/UserInterfaceState.xcuserstate

Daily Nexus.xcodeproj/xcuserdata/Aaron.xcuserdatad/xcschemes/Daily Nexus.xcscheme

Daily Nexus.xcodeproj/xcuserdata/Aaron.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcsettings
